@inherits LayoutComponentBase

<MudThemeProvider @ref="_mudThemeProvider" />
<MudSnackbarProvider />
<MudPopoverProvider />
<MudDialogProvider />

<MudLayout>
    <MudAppBar Color="Color.Primary">
        <MudIconButton 
            Icon="@Icons.Material.Filled.Menu"
            OnClick="ToggleDrawer"
            Color="Color.Inherit"
            Edge="Edge.Start" />
            LOGOMARCA

        <MudSpacer />
<MudChip T="string">
    <AvatarContent>
        <MudMenu ActivationEvent="MouseEvent.MouseOver">
            <ChildContent>
                <MudMenuItem>Perfil</MudMenuItem>
                <MudMenuItem>Configurações</MudMenuItem>
            </ChildContent>
            
            <ActivatorContent>
                <MudAvatar>
                    <MudImage Src="images/toiletvisit.jpg"></MudImage>
                </MudAvatar>
                <p>Usuário</p>

            </ActivatorContent>
        </MudMenu>
    </AvatarContent>

</MudChip>

            
        <MudIconButton Icon="@Icons.Material.Filled.HelpOutline" Color="Color.Inherit" />
        <MudIconButton Icon="@Icons.Material.Filled.Logout" Color="Color.Inherit" />
    </MudAppBar>

    <MudDrawer @bind-Open="@_isDrawerOpened" Elevation="2" Variant="DrawerVariant.Persistent">
        <NavMenu OnMenuItemClick="CloseDrawer" />
    </MudDrawer>

    <MudMainContent>
            @Body
    </MudMainContent>
</MudLayout>